---
layout: default
---


{% comment %}
=======================
The following part extracts all the tags from your posts and sort tags, so that you do not need to manually collect your tags to a place.
=======================
{% endcomment %}
{% assign rawtags = "" %}
{% for post in site.posts %}
	{% assign ttags = post.tags | join:'|' | append:'|' | downcase %}
	{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% comment %}
=======================
The following part removes dulpicated tags and invalid tags like blank tag.
=======================
{% endcomment %}
{% assign tags = "" %}
{% for tag in rawtags %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}
{% comment %}
=======================
The purpose of this snippet is to list all your posts posted with a certain tag.
=======================
{% endcomment %}


<br/>
<a href="https://blog.foundev.pro">Home</a>

<div style="display: inline-block;border: 1px solid #c6cbd1; border-bottom-color: #959da5; border-radius: 3px; box-shadow: inset 0 -1px 0 #959da5; padding: 1rem; background-color:#f8f8ff;">
<h3>Tag Nav</h3>
<div class="tags">
	<ul style="list-style-type: square;">
{% for tag in tags %}
		<li><a href="/tags#{{ tag | slugify}}">{{ tag }} </a></li>
{% endfor %}
</ul>
</div>
<div>

{% for tag in tags %}
	<h2 id="{{ tag | slugify }}">{{ tag }}</h2>
	<ul>
	 {% for post in site.posts %}
		{% comment %}
=======================
The following part lower cases all post tags.
=======================
{% endcomment %}
{% assign posttags = "" %}
{% for tag in post.tags %}
	{% assign posttags = posttags | join:'|' | append:'|' | append:tag | split:'|' | downcase %}
{% endfor %}

		 {% if posttags contains tag %}
		 <li>
		 <h3>
		 <a href="{{ post.url }}">
		 {{ post.title }}
		 <small>{{ post.date | date_to_string }}</small>
		 </a>
		 </h3>
		 </li>
		{% assign posttags = "" %}
		 {% endif %}
	 {% endfor %}
	</ul>
{% endfor %}

